langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-cohere
langchain-google-genai
google-generativeai
google-genai
pymupdf
python-dotenv
Authlib
docx2txt
fastapi
uvicorn
pydantic
python-multipart
psycopg2
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
cohere
aiohttp
scikit-learn
numpy
redis
PyJWT