langchain
langchain-community
langchain-text-splitters
langchain-chroma
pysqlite3-binary
chromadb
langchain-cohere
langchain-google-genai
google-generativeai
google-genai
pymupdf
python-dotenv
Authlib
docx2txt
fastapi
uvicorn[standard]
itsdangerous
pydantic
python-multipart
psycopg2-binary
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
cohere
aiohttp
scikit-learn
numpy
redis
PyJWT